/* CSS Reset */
*,
h1 {
  padding: 0;
  margin: 0;
}

/* HEADER CONTENT */
.container {
  display: flex;

  /* Main axis - up and down */
  /* Cross axies - left and right */
  flex-direction: column;
  align-items: center;
}
